:root {
  --main-font: "Poppins";
  --main-font-weight: 400;
  --secondary-font-weight: 500;
  --semi-bold-weight: 600;
  --background-color: #f5f5f5;
  --main-text-color: #8f95a5;
  --secondary-text-color: #263238;
  --heading-color: #000000;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text-color);

  @media screen and (max-width: 1377px) {
    &.menu-open {
      overflow: hidden;
    }
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding: 0 15px;
  outline: solid 2px tomato;

  @media screen and (min-width: 575px) {
    max-width: 575px;
    padding: 0 33px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 31px;
  }

  @media screen and (min-width: 1378px) {
    padding: 0 20px;
    max-width: 1378px;
  }
}

.section {
  @media screen and (min-width: 320px) {
    padding-top: 55px;
  }

  @media screen and (min-width: 575px) {
    padding-top: 80px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 1378px) {
    padding-top: 180px;
  }
}

@import "./mixin";

.thumb {
  max-width: 654px;
  max-height: 510px;
}

/* Logotype */
.logo-first-part,
.logo-second-part {
  letter-spacing: 0.03em;
  color: var(--heading-color);

  @media screen and (max-width: 574px) {
    font-size: 24px;
  }

  @media screen and (min-width: 575px) and (max-width: 1377px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1378px) {
    font-size: 36px;
  }
}

.logo-second-part {
  color: #939393;
}

/* Header */

.header-section {
  padding: 55px 0;

  @media screen and (max-width: 1377px) {
    position: relative;
  }
}

.header-section .list-item {
  padding: 27px 0;
}

.logo-link {
  padding-top: 23px;
  padding-bottom: 22px;
}

.list-item {
  font-weight: var(--secondary-font-weight);
  color: var(--secondary-text-color);
}

.header-button {
  display: none;

  @media screen and (min-width: 1378px) {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    cursor: pointer;
    border: 2px solid #263238;
    border-radius: 10px;
    padding: 20px 56px;
    width: 312px;
    height: 70px;
    background-color: #ffffff;
    margin-left: auto;

    transition-property: background-color, color;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--secondary-text-color);
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 1377px) {
  .header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    padding: 25px 0;

    background-color: #fff;
  }

  // .flex-container {
  //   position: fixed;
  //   z-index: 8;
  // }

  .nav-flex {
    position: relative;
  }

  .flex-container {
    position: relative;
  }

  .header-list-flex {
    display: flex;
    flex-direction: column;
    padding: 75px 0 0 40px;

    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    overflow: auto;

    width: 100vw;
    height: 100vh;
    z-index: 3;

    background-color: #fff;

    @include transition(transform);
  }

  .list-one:not(:last-child) {
    margin-bottom: 30px;
  }

  .list-item {
    font-size: 26px;
    line-height: 1.71;
  }

  .header-list-flex.is-open {
    transform: translateY(0);
  }

  .menu-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn {
    display: block;
    position: absolute;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 23px;
    z-index: 10;

    background-color: #fff;
    border-color: transparent;
    cursor: pointer;
  }

  .menu-btn.is-open .menu-icon {
    display: none;
  }

  .menu-btn .close-icon {
    display: none;
  }

  .menu-btn.is-open .close-icon {
    display: block;
  }
}

@media screen and (min-width: 1378px) {
  .header-list-flex {
    display: flex;
    margin-left: 228px;
  }

  .header-list-flex > li:not(:first-child) {
    margin-left: 50px;
  }

  .nav-flex {
    display: flex;
    align-items: center;
    position: relative;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .menu-icons {
    display: none;
  }
}

/* Hero section */
@media screen and (max-width: 1377px) {
  .hero {
    margin-top: 110px;
  }
}

.hero-heading {
  position: relative;

  font-weight: 600;
  line-height: 1.25;
  color: var(--heading-color);

  @media screen and (max-width: 574px) {
      margin-top: 16px;
      font-size: 24px;
  
      line-height: 1.5;
      text-align: center;
    }

  @media screen and (min-width: 575px) and (max-width: 767px) {
    margin-top: 17px;

    font-size: 34px;
    line-height: 1.32;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1377px) {
    padding-top: 28px;
    width: 217px;
    margin-bottom: 25px;

    font-size: 36px;
  }

  @media screen and (min-width: 1378px) {
    width: 386px;
    margin-bottom: 40px;

    font-size: 64px;
  }
}

.hero-heading::after {
  content: "";
  display: block;

  position: absolute;

  background-repeat: no-repeat;
  /* background-color: tomato; */
  background-image: url(../media/bulb-icon.svg);

  @media screen and (min-width: 768px) and (max-width: 1377px) {
    top: 95px;
    left: 217px;

    background-size: 72px;
    width: 72px;
    height: 72px;
  }

  @media screen and (min-width: 1378px) {
    top: 92px;
    left: 420px;

    background-size: 120px;
    width: 120px;
    height: 120px;
  }
}

.hero-description {
  @media screen and (max-width: 574px) {
      margin-top: 20px;
      margin-bottom: 33px;
  
      font-size: 14px;
      text-align: center;
    }

  @media screen and (min-width: 575px) and (max-width: 767px) {
    margin-top: 26px;
    margin-bottom: 37px;

    font-size: 16px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1377px) {
    font-size: 16px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1378px) {
    font-size: 24px;
    margin-bottom: 60px;
  }
}

.hero-button {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  background: var(--secondary-text-color);
  cursor: pointer;

  transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 575px) and (max-width: 767px) {
    font-size: 18px;

    border-radius: 5px;
    width: 305px;
    height: 75px;
  }

  @media screen and (min-width: 768px) and (max-width: 1377px) {
    font-size: 18px;

    border-radius: 5px;
    width: 236px;
    height: 65px;
  }

  @media screen and (min-width: 1378px) {
    font-size: 36px;

    border-radius: 10px;
    width: 426px;
    padding: 23px 64px;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--heading-color);
}

.hero-flex {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1377px) {
    display: grid;
    grid-template-columns: 338px 352px;
    justify-content: space-between;
  }

  @media screen and (min-width: 1378px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.hero__thumb {
  @media screen and (min-width: 320px) and (max-width: 574px) {
      width: 299px;
    }

  @media screen and (min-width: 575px) and (max-width: 767px) {
    width: 424px;
  }
}

.hero-main-cont {
  @media screen and (min-width: 575px) and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1377px) {
    width: 338px;
  }

  @media screen and (min-width: 1378px) {
    width: 530px;
  }
}

/* Skills section */

.skills-list-item {
  background: var(--background-color);
  border-radius: 10px;
  padding: 32px 18px;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  color: var(--heading-color);
  margin-bottom: 60px;
}

.skills-heading {
  text-align: center;
}

.list-item-heading {
  font-weight: 600;
  font-size: 30px;
  color: var(--secondary-text-color);

  margin-bottom: 20px;
}

.list-item-heading--margin {
  margin-top: 24px;
}

.skills-description {
  font-size: 16px;
  margin-bottom: 30px;
  width: 359px;
}

.skills-description-listening {
  font-size: 16px;
  margin-bottom: 30px;
  width: 324px;
}

.skills-description-speaking {
  font-size: 16px;
  margin-bottom: 30px;
  width: 347px;
}

.skills-description-speaking-sp {
  font-size: 16px;
  margin-bottom: 30px;
  width: 310px;
}

.skills-button {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #263238;
  border-radius: 10px;
  padding: 16px 64px;

  transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills-button-secondary {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  background-color: #263238;
  border-radius: 10px;
  padding: 15px 51px;

  transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills-button:hover,
.skills-button:focus,
.skills-button-secondary:hover,
.skills-button-secondary:focus,
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--heading-color);
}

@media screen and (min-width: 1378px) {
  .main-skills-list {
    display: grid;
    grid-template-columns: repeat(3, 426px);
    grid-template-rows: 579px 338px;
    gap: 30px;
  }

  .speaking-item {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .writing-item {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .reading-item {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .skills-item-listening {
    grid-row: 2 / 3;
    grid-column: 2 / 4;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skills-thumb {
    width: 324px;
    margin-right: 114px;
  }
}

// .skills-item-listening {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 882px;
//   height: 338px;
// }

// .writing-reading-list {
//   display: flex;

//   margin-bottom: 30px;
// }

// .writing-reading-list > .skills-list-item:not(:last-child) {
//   margin-right: 30px;
// }

// .writing-reading-list > .skills-list-item {
//   width: 426px;
//   border-radius: 10px;
//   padding: 32px 18px;
// }

// .main-skills-list {
//   display: flex;
// }

// .speaking-item {
//   padding: 32px 18px;
//   margin-right: 30px;
// }

/* about section */

.about-us-section {
  display: flex;
}

.about-desc-division {
  margin-right: 146px;
}

.about-description {
  line-height: 1.8;
  width: 652px;
  padding-bottom: 30px;
}

.about-list-item {
  font-weight: 600;
  font-size: 48px;
  color: #2a3246;
}

.results-list {
  display: flex;
  justify-content: center;
}

.results-item {
  text-align: center;
  width: 108px;
}

.results-item:not(:last-child) {
  margin-right: 131px;
}

/* Pricing section */
.pricing-list-heading {
  line-height: 1.6;
  font-size: 30px;
  color: var(--secondary-text-color);
}

.pricing-list-item {
  width: 426px;
}

.pricing-per-month {
  width: 108px;

  font-size: 18px;
  color: #546269;
}

.pricing-list {
  display: flex;
}

.pricing-list-item:not(:last-child) {
  margin-right: 30px;
}

.pricing-picture {
  margin-bottom: 31px;
}

.price {
  display: inline-flex;
  align-items: baseline;
  padding: 5px 23px 4px 29px;

  width: 260px;
  height: 45px;
  border-radius: 5px;

  background-color: #eeeeee;
}

.price > .price-item {
  width: 76px;
  margin-right: 28px;

  font-size: 24px;
  text-align: center;
  color: var(--secondary-text-color);
}

.self-study-price {
  margin-top: 30px;
}

.live-and-personal {
  margin-top: 60px;
}

/* Contact us */

.contact-us-thumb {
  display: flex;
}

.contact-data {
  margin-left: 145px;
}

.contact-us-description {
  margin-bottom: 30px;
  width: 654px;
}

.subscribe-button {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  background-color: var(--secondary-text-color);
  border-radius: 10px;
  cursor: pointer;

  padding: 21.5px 104px;
  margin-left: 30px;

  transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: inline-block;
  font-size: 20px;
  line-height: 1.88;
  color: var(--main-text-color);
  border: 1px solid #8f95a5;
  border-radius: 10px;

  padding-left: 30px;

  width: 420px;
  height: 70px;
}

.contact-section {
  padding-bottom: 55px;
}

/* Footer section */

.footer-list-link {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  padding: 31px 0;
}

.footer-list-item:not(:last-child) {
  margin-right: 80px;
}

.footer {
  border-top: 1px solid #c4c4c4;
  padding-bottom: 55px;
}

.footer-list {
  display: flex;
  margin-left: auto;
}

.footer-thumb {
  display: flex;
  align-items: center;
}

.logo-footer {
  padding: 22px 0;
}

.footer-form {
  display: flex;
}

.bulb-icon {
  position: absolute;
  top: 92px;
  left: 420px;
  fill: var(--heading-color);
}

.form__label {
  position: relative;
}

.form__text {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 16px;
  line-height: 1.88;
  cursor: text;

  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 800ms cubic-bezier(0.4, 0, 0.2, 1),
    line-height 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form:focus + .form__text,
.form:not(:placeholder-shown) + .form__text {
  transform: translate(-30px, -70px);

  font-size: 20px;
  line-height: 1.5;
  color: #263238;
}

.form__icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);

  @include transition(opacity);
}

.icon-attention,
.icon-success {
  fill: #263238;

  opacity: 0;
  @include transition(opacity);
}

.form__attention {
  position: absolute;
  left: 0;
  top: 115%;
  opacity: 0;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  @include transition(opacity);
}

.form-example {
  font-weight: 700;
  text-decoration: underline;
}

.form:focus:invalid ~ .form__icon .icon-attention,
.form:invalid:not(:placeholder-shown) ~ .form__icon .icon-attention,
.form:focus:invalid ~ .form__attention,
.form:invalid:not(:placeholder-shown) ~ .form__attention {
  opacity: 1;
}

.form:focus:valid ~ .form__icon .icon-success,
.form:valid:not(:placeholder-shown) ~ .form__icon .icon-success {
  opacity: 1;
}
